body {
	background: #eae9e9;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	background-image: url('../images/bullet.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 32px;
	line-height: 29px;
}
button {
	padding: 0;
	background: none;
}
.bullet_green {
	background-image: url('../images/bullet_green.png');
}
.jumbotron {
	background-color: transparent;
}
.row {
	background: #fff;
}
.header {
	background: #1c2526;
	padding: 20px 0 20px 0;
	margin-bottom: 0;
}
.footer {
	background: #727272;
	padding: 20px 0 20px 0;
	margin-top: 30px;
}
.dots {
	padding-bottom: 10px;
}
.video_container {
	display: none;
	position: absolute;
}
.section_start {
	padding-top: 30px;
}
.section_end {
	padding-bottom: 10px;
}
.divide {
	width: 100%;
}
.callout {
	/*min-width: 75px;*/
}
.no-padding {
	padding: 0;
}
.centered {
	margin: auto;
}
.vertical_centered {
	display: table-cell;
	vertical-align: middle;
}
.clickable {
	cursor: pointer;
}
.text_centered {
	text-align: center;
}
.text_white {
	color: #fff;
}
.text_gray {
	color: #636464;
}
.text_dark_green {
	color: #47757a;
}
.background_light_green {
	background-color: #4ba7b1;
}
.text_light_green {
	color: #4ba7b1;
}
.text_bright_green {
	color: #96c93f;
}
.text_brightish_green {
	color: #667c41;
}
