body {
	background: #eae9e9;
}
h1, h2, h3, h4, h5 {
	font-family: "Century Gothic", CenturyGothic, Helvetica, AppleGothic, sans-serif;
	font-weight: bold;
}
h1, .jumbotron h1 {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}
h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}
h3 {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}
h4, h5 {
	font-size: 32px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	background-image: url('../images/bullet.png');
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 24px;
}
li.no_bullet {
	background: none;
}
.container {
	max-width: 900px;
}
.carousel li {
	background-image: none;
}
.flexslider {
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}
.flexslider .slides > li {
	border: 2px solid #eae9e9;
	padding-left: 0;
}
.flex-direction-nav a {
	display: none;
	width: 28px;
	height: 154px;
	margin: 0;
	position: absolute;
	top: 0;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	text-shadow: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.flex-direction-nav a:before {
	content: '';
}
.flex-direction-nav a.flex-next:before {
	content: '';
}
.flex-direction-nav a.flex-next {
	background: url('../images/arrow_right.png') 0 0 no-repeat;
}
.flex-direction-nav a.flex-prev {
	background: url('../images/arrow_left.png') 0 0 no-repeat;
}
.flex-direction-nav .flex-next {
	right: 0;
	opacity: 1;
}
.flexslider:hover .flex-next {
	right: 0;
	opacity: 1;
}
.flex-direction-nav .flex-prev {
	left: 0;
	opacity: 1;
}
.flexslider:hover .flex-prev {
	left: 0;
	opacity: 1;
}
.logo_carousel {
	background: #fff;
	max-width: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.logo_carousel_text {
	padding-top: 15px;
	margin-bottom: 0;
}
button {
	padding: 0;
	background: none;
	font-family: "Century Gothic", CenturyGothic, Helvetica, AppleGothic, sans-serif;
	font-style: italic;
}
.btn {
	border-radius: 12px;
}
.btn-login-signup {
	background: #93cb2f;
	color: #fff;
	padding: 5px 30px 5px 30px;
	font-size: 22px;
}
.btn-login-signup:hover, .btn-login-signup.btn:focus {
	color: #fff;
	background: #7EAD28;
}
.btn-submit {
	background: #93cb2f;
	color: #fff;
	padding: 5px 30px 5px 30px;
	font-size: 22px;
}
.btn-submit:hover, .btn-submit.btn:focus {
	color: #fff;
	background: #7EAD28;
}
.bullet_green {
	background-image: url('../images/bullet_green.png');
}
.jumbotron {
	background-color: transparent;
	margin-bottom: 0;
	padding-top: 24px;
	padding-bottom: 24px;
}
.cycle_link {
	background: transparent url('../images/transparent.gif') 0 0 repeat;
	position: absolute;
}
#cycle_diagnose {
	width: 28.5%;
	height: 31%;
	top: 0;
	left: 35.5%;
}
#cycle_execute {
	width: 32.5%;
	height: 29%;
	top: 36%;
	left: 0;
}
#cycle_automate {
	width: 28.5%;
	height: 29%;
	top: 36%;
	left: 35.5%;
}
#cycle_centralize {
	width: 32.5%;
	height: 29%;
	top: 36%;
	left: 67.5%;
}
#cycle_analyze {
	width: 28.5%;
	height: 31%;
	top: 69%;
	left: 35.5%;
}
.row {
	background: #fff;
}
.callout {
	width: 100%;
}
.col-md-12 {
	padding-left: 20px;
	padding-right: 20px;
}
.header {
	background: #1c2526;
	padding: 20px 0 20px 0;
	margin-bottom: 0;
}
.header_img {
	max-width: 50%;
}
.footer {
	background: #727272;
	padding: 20px 0 20px 0;
	margin-top: 30px;
	margin-bottom: 0;
}
.footer_img {
	max-width: 50%;
}
.dots {
	padding: 30px 0;
}
.video_container {
	display: none;
	position: absolute;
}
.section_start {
	padding-top: 30px;
}
.section_end {
	padding-bottom: 10px;
}
.divide {
	background: transparent;
	width: 100%;
}
.body_text {
	padding-top: 0;
}
.no-padding {
	padding: 0;
}
.centered {
	margin: auto;
}
.vertical_centered {
	display: table-cell;
	vertical-align: middle;
}
.clickable {
	cursor: pointer;
}
.text_centered {
	text-align: center;
}
.text_white {
	color: #fff;
}
.text_gray {
	color: #636464;
}
.text_light_gray {
	color: #a5a5a5;
}
.text_dark_green {
	color: #47757a;
}
.background_light_green {
	background-color: #4ba7b1;
}
.text_light_green {
	color: #4ba7b1;
}
.text_bright_green {
	color: #96c93f;
}
.text_brightish_green {
	color: #667c41;
}
.login_signup {
	margin: 30px 0 30px 0;
}
.inline {
	display: inline;
	width: 50%;
}
.span-visible-xs {
	display: inline !important;
}
@media (min-width: 768px) {
	.span-visible-xs {
		display: none !important;
	}
}
@media (min-width: 403px) {
	h1, .jumbotron h1 {
		font-size: 26px;
		line-height: 32px;
		margin: 0;
	}
	h2 {
		font-size: 27px;
		line-height: 32px;
		margin: 0;
	}
	h3 {
		font-size: 19px;
		line-height: 32px;
		margin: 0;
	}
	.btn-login-signup {
		padding: 5px 50px 5px 50px;
		font-size: 24px;
	}
}
@media (min-width: 480px) {
	h1, .jumbotron h1 {
		font-size: 31px;
		line-height: 36px;
	}
	h2 {
		font-size: 28px;
		line-height: 36px;
	}
	h3 {
		font-size: 23px;
		line-height: 36px;
	}
	h4 {
		font-size: 38px;
	}
	p {
		font-size: 16px;
	}
	li {
		font-size: 16px;
	}
	.flex-direction-nav a {
		display: block;
	}
	.btn-login-signup {
		padding: 5px 50px 5px 50px;
		font-size: 26px;
	}
	.row {
		max-width: 680px;
	}
	.col-md-12 {
		padding-left: 50px;
		padding-right: 50px;
	}
	.body_text {
		padding-top: 20px;
	}
}
@media (min-width: 768px) {
	h1, .jumbotron h1 {
		font-size: 54px;
		line-height: 56px;
	}
	h2 {
		font-size: 48px;
		line-height: 56px;
	}
	h3 {
		font-size: 34px;
		line-height: 56px;
	}
	h4 {
		font-size: 38px;
	}
	p {
		font-size: 16px;
	}
	li {
		font-size: 16px;
	}
	.flex-direction-nav a {
		display: block;
	}
	.btn-login-signup {
		padding: 10px 75px 10px 75px;
		font-size: 30px;
	}
	.row {
		max-width: 680px;
	}
	.col-md-12 {
		padding-left: 115px;
		padding-right: 115px;
	}
	.body_text {
		padding-top: 20px;
	}
}
@media (min-width: 1200px) {
	h1, .jumbotron h1 {
		font-size: 74px;
		line-height: 76px;
	}
	h2 {
		font-size: 66px;
		line-height: 76px;
	}
	h3 {
		font-size: 46px;
		line-height: 76px;
	}
	.flex-direction-nav a {
		display: block;
	}
	.btn-login-signup {
		padding: 10px 75px 10px 75px;
		font-size: 36px;
	}
	.row {
		max-width: 870px;
	}
	.col-md-12 {
		padding-left: 115px;
		padding-right: 115px;
	}
	.body_text {
		padding-top: 20px;
	}
}
