.headerlogo {
     border:0px;
    display: block;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-repeat: no-repeat;
    content:url('../images/iphone/ipad_header_logo.png')
}
.headertext {
    color: white;
    font-size: 28px;
    font-weight: bold;
}