ul li {
    color: #636464;
    font-size: 16px;
    list-style-type: none;
}



li {
    list-style-image: url(../images/iphone/iphone_bullet.png);
    padding: 10px;
}

.greenli {
    list-style-image: url(../images/iphone/iphone_greenbullet.png);
    padding: 10px;
}



.headerlogo {
    border: 0px;
    display: block;
    padding: 10px;
    margin: 0px auto;
    content: url('../images/iphone/iphone_header_logo.png');
}

.headertext {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.video {
    width: 96%;
    background-image: url('../images/iphone/iphone_videoscreen.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px auto;
}

.trHeader {
    background-color: #1c2526;
}

.dote {
    width:30% !important;
}

.spnHeading {
    font-size: 24px;
    color: #727272;
    font-weight: bold;
}

.spnHeading1 {
    font-size: 24px;
    color: #4ba7b1;
    font-weight: bold;
}

.spnHeading2 {
    font-size: 14px;
    color: #727272;
    font-weight: bold;
}
.divmargin {
    margin-top: -4px;
    padding-top:8px;
}

.callout {
    width: 95%;
    content: url('../images/iphone/iphone_callout_diagnose.png');
}

.spnDiagnose {
    font-size: 40px;
    color: #4ba7b1;
    text-align: center;
    font-weight: bold;
}

.spnDiagnose1 {
    font-size: 20px;
    color: #47757a;
    text-align: center;
    font-weight: bold;
}

.spnDiagnose2 {

    font-size: 16px;
    color: #47757a;
    text-align: left;
}

.spnAutomate {
    font-size: 40px;
    color: #96c93f;
    text-align: center;
    font-weight: bold;
}

.spnAutomate1 {
    font-size: 20px;
    color: #667c41;
    text-align: center;
    font-weight: bold;
}

.spnAutomate2 {
    font-size: 16px;
    color: #667c41;
    text-align: left;
}

.footerImg {
    border: 0px;
    display: block;
    margin: 0 auto;
    content: url('../images/iphone/iphone_footer_logo.png');
    margin: 0px auto;
    padding: 20px;
}

.footerDiv {
    background-color: #727272;
}

.divmargin {
    float: left;
    text-align: left;
    padding-left: 30px;
    width: 68%;
    margin-top: -20px;
}
